<header>
    <nav class="navbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/pokemon">INDEX</a></li>
            <li><a href="/pokemon/new">CREATE NEW</a></li>
        </ul>
    </nav>
</header>