body {
    background-color: white;
}

h1 {
    text-align: center;
}

.navbar {
    display: flex;
    background-color: lightcoral;
    justify-content: flex-start;
    
}

.navbar a:link {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#index-img {
    width: 75px;
    height: 75px;
}

#edit-delete {
    display: flex;
    justify-content: center;
}
